@use '../../mixins.scss' as *;

.question {
    position: relative;
    padding: 4.2rem 0 2.6rem;
    border-bottom: 1px solid var(--color-white);
    cursor: pointer;
    transition: all .3s;

    .header-line {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        transition: all .5s;
        position: relative;
        z-index: 100;

        div {
            height: 100%;
        }

        .arrow {
            width: 15px;
            margin-left: 15px;
            transition: all .3s;

            &.arrow-active {
                transform: rotate(180deg);
            }
        }

        .title {
            font-family: Enigma;
            font-weight: 100;
            text-transform: uppercase;
            font-size: 2.1rem;
            max-width: 110rem;
            display: block;

            @media only screen and (max-width: 850px) {
                font-size: 15px;
                max-width: 90%;
            }
        }
    }

    .toggle-container {
        display: none;
        position: relative;
        z-index: 100;

        .answer {
            line-height: 1.6;
            width: 85rem;

            @media only screen and (max-width: 850px) {
                font-size: 16px;
                width: 100%;
            }
        }

        .flex-container {
            display: flex;
        }

        .list {

            &:not(:last-of-type) {
                margin-right: 1rem;
            }

            &.skills {
                font-weight: 900;
                text-transform: uppercase;
            }
        }
    }
}