@use '../../mixins.scss' as *;
@use 'sass:color';

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    width: 100%;
    background-image: linear-gradient(to bottom, #070708 25%, rgba(0,0,0,0));

    @media only screen and (max-width: 850px) {
        background-image: none;
    }

    &.header-not-fixed {
        position: absolute;

        @media only screen and (max-width: 850px) {
            position: fixed;
        }
    }

    .inner-container {
        @include width-restriction;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1.8rem 0;
        position: relative;
        z-index: 10000;

        @media only screen and (max-width: 850px) {
            padding: 20px 0;
            align-items: center;
        }
    }

    .left {
        display: flex;
        align-items: flex-start;
    }

    .right {
        display: flex;
        align-items: center;
    }

    .logo {
        font-family: Enigma;
        font-size: 1.7rem;
        color: var(--color-orange);
        padding: .7rem 1rem;
        border-radius: 5px;
        background-color: var(--color-orange-2);
        margin-right: 9rem;

        @media only screen and (max-width: 1100px) {
            margin-right: 6rem;
        }

        @media only screen and (max-width: 850px) {
            font-size: 16px;
            padding: 7px 10px;
        }
    }

    .button {
        border: 1px solid var(--color-orange);
        border-radius: 5px;
        padding: .45rem;

        .inner {
            background-color: var(--color-orange-2);
            border-radius: 5px;
            font-size: 1.7rem;
            padding: .8rem 1.6rem 1.1rem;
            line-height: .8;
            transition: all .3s;

            @media only screen and (max-width: 850px) {
                font-size: 20px;
                padding: 8px 16px 11px;
            }
        }

        &:hover {

            .inner {
                background-color: color.adjust(#221B12, $lightness: 9%);
            }
        }
    }

    .mobile-menu-button {
        margin-left: 18px;
        padding: 4px;
        padding-right: 0;

        img {
            width: 24px;
        }
    }
}