@use '../../mixins.scss' as *;

.navigation {
    display: flex;
    align-items: flex-start;
    
    .dropdown-container {
        position: relative;
        z-index: 1000;

        &:not(:last-of-type) {
            margin-right: 2rem;
        }

        .dropdown-opener {
            cursor: pointer;
            transition: all .3s;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .5rem 1.6rem .5rem;
            color: var(--color-white);
            border-radius: 2.6rem;

            span {
                display: inline-block;
                margin-right: 1rem;
            }
            
            .icon {
                width: 1rem;
                transition: all .3s;
                margin-bottom: -.3rem;

                &.active {
                    transform: rotate(-180deg);
                }
            }
        }

        .dropdown {
            position: absolute;
            top: 100%;
            left: 0;
            width: 12rem;
            transition: all .3s;
            background-color: #141319;
            padding:  .8rem 0;
            border-radius: 1.7rem;

            .list {
                text-align: center;

                .item {
                    display: flex;
                    align-items: center;
                    font-size: 1.4rem;
                    width: 100%;

                    .link {
                        width: 100%;
                        border-radius: .5rem;
                        text-align: left;
                        padding: .5rem 0 .5rem 1.6rem;

                        &:hover {
                            background-color: rgba(255, 255, 255, .05);
                            color: var(--color-orange);
                        }
                    }
                }
            }
        }
    }

    .list {

        .subtitle {
            font-size: 1.4rem;
            color: var(--color-grey);
            display: inline-block;
            margin-bottom: 1.2rem;
        }

        // .link {
            // display: inline-block;
            // margin-bottom: .9rem;
            // text-shadow: 0px 0 4px rgba(0, 0, 0, 1);

            // &:not(:last-of-type) {
            //     margin-right: 10rem;
    
            //     @media only screen and (max-width: 1100px) {
            //         margin-right: 6rem;
            //     }
            // }

            // &:hover {
            //     color: var(--color-orange);
            // }
        // }
    }
}