@use '../../mixins.scss' as *;

.preloader {
    @include flex-center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 1000000;
    background-color: var(--color-black);

    .center {
        @include abs-center;

        img {
            width: 13rem;
        }

        .logo-opacity {
            opacity: .05;
        }

        .logo-animating {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 0;
            overflow: hidden;
        }
    }

    .line {
        @include abs-center;
        height: 100%;
        width: 2px;
        background-color: rgba(#232323, .8);

        .inner {
            position: absolute;
            left: 0;
            width: 100%;
            height: 85px;
            background-color: var(--color-orange);
        }

        &-left {
            left: 37%;

            @media only screen and (max-width: 850px) {
                left: 28%;
            }

            @media only screen and (max-width: 600px) {
                left: 20%;
            }

            .inner {
                top: 35px;
            }
        }

        &-right {
            left: 63%;

            @media only screen and (max-width: 850px) {
                left: 72%;
            }

            @media only screen and (max-width: 600px) {
                left: 80%;
            }

            .inner {
                bottom: 35px;
            }
        }
    }
}