@use '../../mixins.scss' as *;

.button-project,
.button-project-to-top,
.button-project-from-bottom {
    width: 80%;
    height: 5px;
    background-color: #2D2D2D;
    display: block;
    border-radius: 3px;
    transition: none;

    &:not(:last-of-type) {
        margin-bottom: 1rem;
    }

    &.active {
        background-color: #D9D9D9;
        width: 100%;
        height: 6px;
    }
}