@use '../../mixins.scss' as *;

.project,
.project-to-top,
.project-from-bottom {
    @include abs-center;
    width: 100%;
    height: 100%;

    @media only screen and (max-width: 850px) {
        top: auto;
        bottom: 0;
        transform: translateX(-50%);
        height: calc(100% - 100px);
    }

    .cover {
        display: block;
        position: relative;
        width: 100%;
        height: 51rem;
        overflow: hidden;
        border-radius: 3.8rem;
        margin-bottom: 2.8rem;
        z-index: 100;
        transition: none;

        @media only screen and (max-width: 850px) {
            height: 42rem;
            margin-bottom: 20px;
        }

        @media only screen and (max-width: 680px) {
            height: 34rem;
        }

        @media only screen and (max-width: 500px) {
            height: 30rem;
        }

        @media only screen and (max-width: 420px) {
            height: 28rem;
        }

        .hover-cover {
            @include abs-center;
            @include flex-center;
            width: 100%;
            height: 100%;
            background-color: rgba(#2D2D2D, .55);
            transition: all .3s;
            opacity: 0;

            span {
                font-family: Enigma;
                font-size: 3.6rem;
                display: block;
                width: 30rem;
                text-align: center;
                text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.7);
                opacity: 0;
                transition: all .3s;
            }
        }

        &:hover {

            .hover-cover,
            span {
                opacity: 1;
            }
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media only screen and (max-width: 850px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .left {

            @media only screen and (max-width: 850px) {
                flex-direction: column;
                margin-bottom: 18px;

                @media only screen and (max-height: 650px) {
                    margin-bottom: 12px;
                }
            }
        }

        .left,
        .timeline {
            display: flex;
        }

        .timeline {

            @media only screen and (max-width: 850px) {
                flex-direction: row-reverse;
                justify-content: flex-end;
                margin-bottom: 18px;
            }
        }

        .description {
            width: 45rem;
            margin-right: 2.6rem;
            line-height: 1.6;

            @media only screen and (max-width: 850px) {
                margin-right: 0;
                margin-bottom: 18px;
                line-height: 1.3;

                @media only screen and (max-height: 700px) {
                    line-height: 1.3;
                }

                @media only screen and (max-height: 650px) {
                    line-height: 1.2;
                    margin-bottom: 14px;
                }
            }
        }

        .description,
        .time {
            font-size: 1.7rem;
        }

        .technologies,
        .subtitle {
            line-height: 1.6;

            @media only screen and (max-width: 850px) and (max-height: 700px) {
                line-height: 1.4;
            }
        }

        .staff,
        .time {
            line-height: 2;
        }

        .technologies,
        .staff,
        .subtitle {
            display: block;
            color: var(--color-grey);
        }

        .description,
        .subtitle {

            @media only screen and (max-width: 850px) {
                font-size: 16px !important;

                @media only screen and (min-height: 720px) {
                    font-size: 17px !important;
                }
            }
        }

        .time {

            @media only screen and (max-width: 850px) {
                font-size: 18px !important;
            }
        }

        .technologies,
        .staff {

            @media only screen and (max-width: 850px) {
                font-size: 17px !important;
            }
        }

        .clock {
            width: 2.1rem;
            margin-left: 2.1rem;

            @media only screen and (max-width: 850px) {
                width: 24px;
                margin-left: 0;
                margin-right: 18px;
            }
        }

        .button {
            border: 1px solid var(--color-orange);
            border-radius: 5px;
            padding: 4px;
    
            .inner {
                background-color: var(--color-orange-2);
                border-radius: 5px;
                font-size: 17px;
                padding: 7px 14px 10px;
                line-height: .8;
                transition: all .3s;
            }
        }
    }
}