@use '../../mixins.scss' as *;

.section-4 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1400;
    overflow: hidden;
    background-color: #0D0D0D;
    border-radius: 67px 67px 0px 0px;
    border: 1px solid #272727;

    @media only screen and (max-width: 850px) {
        border-radius: 35px 35px 0 0;
    }

    .inner-container {
        height: 100%;
        width: 100%;
        position: relative;

        @media only screen and (max-width: 850px) {
            @include width-restriction;
        }
    }

    .flex-container {
        
        @media only screen and (max-width: 850px) {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: flex-end;
            z-index: 100;

            @media only screen and (max-height: 650px) {
                top: 15px;
            }
        }
    }

    .title-container {
        position: absolute;
        top: 65%;
        left: -10rem;
        transform: translateY(-50%);
        z-index: 100;
        width: 52rem;
        height: 14rem;
        display: flex;
        align-items: center;

        @media only screen and (max-width: 850px) {
            height: 70px;
            width: 230px;
            position: static;
            transform: none;
        }

        .inner {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;

            .title,
            .title-to-top,
            .title-from-bottom {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                font-family: Enigma;
                font-size: 7.7rem;
                font-weight: 400;
                line-height: .95;
                text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.7);

                @media only screen and (max-width: 850px) {
                    font-size: 30px;
                    top: auto;
                    bottom: 0;
                    transform: none;


                }
            }
        }
    }

    .index-container {
        position: absolute;
        right: calc(100% + 12rem);
        top: 65%;
        transform: translateY(-50%);
        width: 60vw;
        height: 3rem;
        border-bottom: 1px solid var(--color-white);
        text-align: right;

        @media only screen and (max-width: 850px) {
            position: relative;
            top: auto;
            right: auto;
            transform: none;
            width: 60px;
            height: 46px;
            margin-right: 20px;
        }

        .index,
        .index-to-top,
        .index-from-bottom {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 1.7rem;
            display: inline-block;
            padding-bottom: 1.2rem;

            @media only screen and (max-width: 850px) {
                font-size: 20px;
                padding-bottom: 14px;
            }
        }
    }

    .lines {
        position: absolute;
        top: 50%;
        right: -13rem;
        transform: translateY(-50%);
        width: 5rem;

        @media only screen and (max-width: 850px) {
            position: static;
            transform: none;
        }
    }

    .projects {
        @include abs-center;
        top: 53%;
        width: 97rem;
        height: 59rem;

        @media only screen and (max-width: 1650px) {
            transform: translate(-50%, -50%) scale(.95);
        }

        @media only screen and (max-width: 850px) {
            width: 100%;
            height: calc(42rem + 320px + 100px);
        }

        @media only screen and (max-width: 680px) {
            height: calc(34rem + 320px + 100px);
        }

        @media only screen and (max-width: 500px) {
            height: calc(30rem + 320px + 100px);
        }
    }
}