@use '../../mixins.scss' as *;

.section-1 {
    z-index: 1000;
    overflow: hidden;

    .inner-container {
        height: 100%;
        width: 100%;
        position: relative;
    }
    
    .content {
        position: absolute;
        bottom: -6rem;
        left: 50%;
        transform: translateX(-50%);

        @media only screen and (max-width: 1650px) {
            transform: translateX(-50%) scale(.9);
            bottom: -10rem;
        }

        @media only screen and (max-width: 850px) {
            transform: translateX(-50%);
            height: 100vh;
            bottom: -0;
            @include width-restriction;
            z-index: 500;
        }
    }

    .stands {
        width: 88rem;
        height: 88rem;

        @media only screen and (max-width: 850px) {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 116rem;
            height: 116rem;
            opacity: .5;
        }

        .inner {
            width: 100%;
            height: 100%;
        }

        img {
            margin-left: -1rem;
        }
    }

    .dollar {
        @include abs-center;
        top: 47%;
        left: 51%;
        width: calc(37rem * .97);
        height: calc(61rem * .97);
        z-index: 50;
        opacity: .4;

        @media only screen and (max-width: 850px) {
            top: auto;
            bottom: 23rem;
            transform: translateX(-50%);
            width: calc(37rem * .9);
            height: calc(61rem * .9);
        }
    }

    .info {
        @include abs-center;
        top: 48%;
        width: 47rem;
        z-index: 100;

        @media only screen and (max-width: 850px) {
            top: 44%;
            width: 270px;
        }

        @media only screen and (max-width: 550px) {
            left: 0;
            transform: translateY(-50%);
        }
    }

    .title {
        font-family: Enigma;
        font-size: 6.5rem;
        line-height: 1;
        width: 100%;

        @media only screen and (max-width: 850px) {
            font-size: 46px;
        }

        .yellow {
            font-size: 4.7rem;
            color: var(--color-orange);
            line-height: .1;
            display: inline-block;
            display: block;
            padding: 1.5rem 0 1.5rem;

            @media only screen and (max-width: 850px) {
                font-size: 27px;
                padding: 8px 0;
            }
        }

        .white {

            &:first-of-type {
                display: block;
            }
        }
    }

    .description {
        position: absolute;
        bottom: 10rem;
        left: 50%;
        transform: translateX(-50%);
        width: 49rem;
        font-size: 1.8rem;
        z-index: 100;

        @media only screen and (max-width: 850px) {
            font-size: 14px;
            position: static;
            bottom: auto;
            left: auto;
            transform: none;
            width: 270px;
            margin-top: 15px;
        }
    }

    .stick {
        position: absolute;

        img {
            height: 100%;
        }
    }

    .orange-stick {

        &-1 {
            bottom: -88rem;
            left: 24rem;
            height: 145rem;
            transform: scaleX(-1) rotate(43deg);

            @media only screen and (max-width: 850px) {
                height: 190rem;
                bottom: -115rem;
            }
        }

        &-2 {
            bottom: -118rem;
            left: 24rem;
            height: 145rem;
            transform: scaleX(-1) rotate(43deg);
        }

        &-3 {
            top: -10rem;
            left: 8.3rem;
            height: 37rem;
            transform: rotate(38deg);

            @media only screen and (max-width: 850px) {
                height: 75rem;
                top: -39rem;
                left: 4rem;
                transform: rotate(30deg);
            }
        }

        &-4 {
            bottom: -31rem;
            right: -18rem;
            height: 145rem;
            transform: rotate(31deg);
            z-index: 10;
        }

        &-5 {
            bottom: -24rem;
            right: 11rem;
            height: 59rem;
            transform: rotate(60deg);
        }
    }

    .green-stick {

        &-1 {
            bottom: -41rem;
            left: 3.8rem;
            height: 102rem;
            transform: rotate(-65deg);
            z-index: 100;
            filter: blur(4px);

            @media only screen and (max-width: 850px) {
                transform: rotate(-70deg);
                bottom: -45rem;
                filter: none;
            }
        }

        &-2 {
            top: -23rem;
            right: 10.5rem;
            height: 59rem;
            transform: scaleX(-1) rotate(48deg);
            filter: blur(4px);

            @media only screen and (max-width: 850px) {
                height: 65rem;
                top: -34rem;
                right: 11rem;
                filter: none;
            }
        }
    }

    .shadow-bottom {
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 6rem;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, .1));
        filter: blur(4px);

        @media only screen and (max-width: 850px) {
            height: 50px;
            background-image: linear-gradient(to top, rgba(0, 0, 0, .4), rgba(0, 0, 0, .1));
        }
    }
}