@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin width-restriction {
    margin: 0 auto;
    width: calc(100% - 25rem);
    max-width: 1920px;

    @media only screen and (max-width: 1300px) {
        width: calc(100% - 25rem);
    }

    @media only screen and (max-width: 850px) {
        width: 70%;
    }

    @media only screen and (max-width: 750px) {
        width: 75%;
    }

    @media only screen and (max-width: 600px) {
        width: 90%;
    }
}