@use 'mixins.scss' as *;
@use 'sass:color';

.desktop {
    @media only screen and (max-width: 850px) {
        display: none !important;
    }
}

.mobile {
    @media only screen and (min-width: 850px) {
        display: none !important;
    }
}

.closed {
    opacity: 0;
    visibility: hidden;
    pointer-events: none !important;
}

.closed-height {
    opacity: 0;
    visibility: hidden;
    pointer-events: none !important;
    height: 0 !important;
}

.section,
.section-abs {
    position: relative;
    width: 100%;
    height: 100dvh;

    .inner-container {
        height: 100%;
        position: relative;
    }
}

.dropdown {
    transition: all .3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    z-index: 150000;
}

.question {

    .header-line {

        &.padding {
            padding-bottom: 1.5rem;
        }
    }

    .arrow {

        &-active {
            transform: rotate(-180deg);
        }
    }
}

.button-up {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem;
    border-radius: 4rem;
    background-color: var(--color-black);
    transition: background .3s;
    z-index: 5000;
    overflow: hidden;
    border: 1px solid #26262a;

    @media only screen and (max-width: 850px) {
        bottom: 5px;
        padding: 13px;
    }

    &:hover {
        background-color: color.adjust(#070708, $lightness: 5%);
    }

    img {
        width: 2.4rem;
        position: relative;
        z-index: 10;

        @media only screen and (max-width: 850px) {
            width: 24px;
        }
    }
}

.button-yellow {
    border: 1px solid var(--color-orange);
    border-radius: 5px;
    padding: .45rem;
    text-align: center;

    .inner {
        background-color: var(--color-orange-2);
        border-radius: 5px;
        font-size: 1.7rem;
        padding: .8rem 1.6rem 1.1rem;
        line-height: .8;
        transition: all .3s;

        @media only screen and (max-width: 850px) {
            font-size: 20px;
            padding: 8px 16px 11px;
        }
    }

    &:hover {

        .inner {
            background-color: color.adjust(#221B12, $lightness: 9%);
        }
    }
}